/Archivos_Cliente/Base_cuentas_preprocesada.csv
/Archivos_Cliente/Base_cuentas.csv
/Archivos_Cliente/Base_donantes_preprocesada.csv
/Archivos_Cliente/Base_donantes_segmentada.csv
/Archivos_Cliente/Base_donantes.csv
/Archivos_Cliente/Cancelaciones_preprocesada.csv
/Archivos_Cliente/Cancelaciones.csv
/Archivos_Cliente/Resultados_regresion_promedio_donacion.csv
/Archivos_Cliente/Transacciones_Individuales_preprocesada.csv
/Archivos_Cliente/Transacciones_Individuales.csv
/Archivos_Cliente/Transacciones_jurídicos.csv
/Informacion_Externa/Desempleo_mensual.csv
/Informacion_Externa/Inflacion_mensual.csv
/Informacion_Externa/inflacion_promedio_anual.csv
/Informacion_Externa/TRM_mensual.csv
1.1.INF_Serie historica Meta de inflacion IQY.xlsx
/Archivos_Cliente/Base_donantes_error_edades.csv
/Archivos_Cliente/Base_donantes_nuevos.csv
/Archivos_Cliente/lfv.csv